<a href="https://colab.research.google.com/github/rsgis2025vedika-dev/python-basics/blob/main/notebooks/01_Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 1 ‚Äì Python Fundamentals (Google Colab Edition)

Welcome to Python! In this notebook you will:

- Learn how to use **Google Colab** and run cells  
- Use `print()` and basic **expressions**  
- Create and manipulate **variables**  
- Understand basic **data types** (`int`, `float`, `str`, `bool`)  
- See and interpret a **simple error**  
- Do small **Earth/Atmos/Ocean-related calculations**  
- Practice basic math and simple statistics (mean, median, mode, correlation)

This notebook is meant to be **read like a short lesson** and **executed step by step**.  
Do not rush ‚Äì focus on understanding what each line of code does.

## 0. Working with Google Colab

A **notebook** is made of two types of cells:

- **Text cells** (like this one) written in *Markdown* ‚Äì used for explanations.
- **Code cells** where you write and run Python.

### How to run a code cell

1. Click inside the code cell.
2. Press **Shift + Enter** (or click the ‚ñ∂Ô∏è "Run" button on the left).

The output appears **just below** the cell.

If something goes wrong, you will usually see a **red error message** ‚Äì that's normal and part of learning.

---

> üëâ Throughout this notebook:
> - **Read the text first**
> - Then run the code cells
> - Then complete the **TODO** parts

In [ ]:
# Run this cell to test that Colab works.
print("Hello from Google Colab! From Vedika üëã")

Hello from Google Colab! From Vedika üëã

## 1. Using `print()` and simple expressions

In Google Colab:

- A **cell** can contain code or text  
- You run a code cell by pressing **Shift + Enter**

Python can be used as a **calculator**.

Example:

```python
2 + 3
```

In a notebook:
- If a value is the **last line** in a code cell, the notebook will display it.
- `print()` explicitly tells Python to show something.

### Example

Run the cell below and compare:

- A cell with just `2 + 3`
- A cell with `print(2 + 3)`

In [ ]:
# Just an expression ‚Äì notebook will display the result
2 + 7

9

In [ ]:
# Now using print()
print(2 + 3)

5

### üî∂ Task 1.1 ‚Äì Introduce yourself

Use `print()` to display:

1. Your **name**  
2. Your **programme** (e.g., "M.Sc. Remote Sensing & GIS")  
3. One topic you want to analyse with Python  
   (examples: "NetCDF SST", "Aerosol AOD", "Ocean colour", "ERA5 rainfall")

üëâ Write three separate `print()` statements.

In [ ]:
# TODO: Fill in your details and run the cell.

# 1. Print your name
print("Name- Vedika Kavlekar" )


# 2. Print your programme name
print("Programme- M.Sc. REmote Sensing & GIS")

# 3. Print one topic you want to analyse using Python
print("Topic - Aerosol AOD")

Name- Vedika Kavlekar
Programme- M.Sc. REmote Sensing & GIS
Topic - Aerosol AOD

## 2. Variables and assignment

A **variable** is a name that stores a value in memory.

Example:

```python
x = 10
```

We read this as: "*x is assigned the value 10*".

We can then use `x` in calculations:

```python
y = x + 5   # y becomes 15
```

### Naming rules (important for clean code)

‚úÖ Allowed:
- letters, numbers, underscore: `sst_day1`, `days_in_year`, `meanSST`  
- must **start with a letter or underscore**, not a number  

‚ùå Not allowed:
- `2temp` (starts with a number)
- `my-variable` (hyphen is not allowed)
- using Python keywords like `for`, `if`, `class` as variable names

---

### üî∂ Task 2.1 ‚Äì A simple Earth-science calculation

1. Store `365` in a variable `days_in_year`  
2. Store `12` in a variable `months`  
3. Compute:

\[
\text{avg\_days\_per\_month} = \frac{\text{days\_in\_year}}{\text{months}}
\]

4. Print using an f-string:

```python
print(f"Average days per month ‚âà {avg_days_per_month}")
```

Before running, **write your expected value** in a comment.

In [ ]:
# TODO: complete the definitions and calculations

# What do you expect the answer to be (approximately)?
# Expected value of average days per month: 30


# 1. Number of days in a year
days_in_year = 365

# 2. Number of months in a year
months = 12

# 3. Compute the average number of days per month
avg_days_per_month = days_in_year / months

# 4. Print the result using an f-string
print(f"Average days per month ‚âà {avg_days_per_month}")

Average days per month ‚âà 30.416666666666668

## 3. Data types in Python

Every value in Python has a **type**:

- `int`   ‚Üí integer (e.g., `5`, `-2`, `365`)
- `float` ‚Üí decimal (e.g., `3.14`, `0.01`, `28.5`)
- `str`   ‚Üí string / text (e.g., `"Goa"`, `"28.5"`)
- `bool`  ‚Üí Boolean (`True` or `False`)

You can use `type()` to check:

```python
type(365)       # int
type(28.5)      # float
type("Goa")     # str
type(True)      # bool
```

---

### üî∂ Task 3.1 ‚Äì Inspect types

1. Create the following variables:
   - `year = 2025`
   - `sst = 28.5`
   - `city = "Goa"`
   - `rainy = True`
2. Use `type()` to print their types.

In [ ]:
# TODO: Create variables and inspect their types.

year = 2025
sst = 25.5
city = "Goa"
rainy = True

print("year:", year, "type:", type(year))
print("sst:", sst, "type:", type(sst))
print("city:", city, "type:", type(city))
print("rainy:", rainy, "type:", type(rainy))

year: 2025 type: <class 'int'>
sst: 25.5 type: <class 'float'>
city: Goa type: <class 'str'>
rainy: True type: <class 'bool'>

## 4. Type conversion and a classic error

Sometimes we need to **convert** between types.

Examples:

```python
int("10")      # ‚Üí 10 (string to integer)
float("3.14")  # ‚Üí 3.14 (string to float)
str(28.5)      # ‚Üí "28.5" (float to string)
```

If we mix incompatible types, Python will raise an **error**.

Example:

```python
10 + "20"
```

Here, `10` is an integer and `"20"` is a string.  
Python does not know how to add them directly.

---

### üî∂ Task 4.1 ‚Äì Trigger and fix an error

1. Set `a = 10`  
2. Set `b = "20"`  
3. Print their types  
4. Try to evaluate `a + b` ‚Üí this should give an error  
5. Fix the expression by converting `b` to an integer using `int(b)`

We *want* to see the error once so that you get used to reading error messages.

In [ ]:
# Step 1: define variables
a = 10
b = "20"

# Step 2: check types
print("type of a:", type(a))
print("type of b:", type(b))


# Step 3: try adding them (uncomment to see the error)
a + int(b)

# Step 4: fix the addition by converting b to integer
int(b)

type of a: <class 'int'>
type of b: <class 'str'>

20

## 5. Comments and readable code

A **comment** is text that Python ignores.  
It starts with `#` and is used to explain what your code is doing.

Example:

```python
# Compute mean SST for 7 days (fake data)
sst_week = [28.1, 28.3, 28.0, 27.9, 28.4, 28.6, 28.5]
mean_sst = sum(sst_week) / len(sst_week)
```

Good code:

- uses **meaningful variable names**
- has **short comments** explaining non-obvious steps
- avoids very long lines

---

### üî∂ Task 5.1 ‚Äì Add comments and compute something simple

1. Create variables:
   - `sst_day1 = 28.3`
   - `sst_day2 = 28.7`
2. Compute their average SST.
3. Add **at least two comments** explaining what you're doing.
4. Print: `"Average of two days SST = ... ¬∞C"`

In [ ]:
# TODO: add comments and compute a small average.

# define SST values for two days
sst_day1 = 28.3
sst_day2 = 28.7

# compute average SST of the two days
#Calculating the average sst of two days
sst_avg = (sst_day1 + sst_day2) / 2

# print the result with units
# The average of two days sst is
print("Avarage of two days sst:", sst_avg)

Avarage of two days sst: 28.5

## 6. Mini exercise ‚Äì From Celsius to Kelvin

In atmospheric and ocean sciences, temperature is often represented in **Kelvin (K)**.

The conversion is:

\[
T_K = T_C + 273.15
\]

### üî∂ Task 6.1 ‚Äì Convert some temperatures

1. Create three variables (in ¬∞C):  
   - `T_surface = 28.5`  
   - `T_air = 30.0`  
   - `T_deep = 5.0`  
2. Convert each to Kelvin.  
3. Print results with clear text, e.g.:  

   `"Surface temperature: 301.65 K"`

Optionally, use f-strings and **round to 2 decimal places**:

```python
print(f"Surface temperature: {T_surface_K:.2f} K")
```

In [ ]:
# TODO: Convert temperatures from ¬∞C to K.

# 1. Define temperatures in Celsius
T_suface = 28.5
T_air = 30.0
T_deep = 5.0

# 2. Convert each to Kelvin
T_suface_K = T_suface + 273.15
T_air_K = T_air + 273.15
T_deep_K = T_deep + 273.15

# 3. Print the results nicely
print("Surface Temperature;", T_suface_K, "K")
print("Air Temperature;", T_air_K, "K")
print("Deep Temperature;", T_deep_K)

Surface Temperature; 301.65 K
Air Temperature; 303.15 K
Deep Temperature; 278.15

## 8. Basic Math & Simple Statistics in Python

Python is widely used in Remote Sensing, Oceanography, Meteorology, and Climate
because it can quickly compute basic math and statistics on data.

In this section, you will learn:

- Addition, subtraction, multiplication, division  
- Decimal (float) arithmetic  
- Mean, median, mode  
- Correlation  

We will start with simple manual calculations using pure Python,  
and then use the built-in **statistics** library.

### 8.1 Basic Arithmetic in Python

Python can perform all standard mathematical operations:

| Operation | Python Symbol | Example |
|----------|----------------|---------|
| Addition | `+` | `5 + 3 = 8` |
| Subtraction | `-` | `10 - 4 = 6` |
| Multiplication | `*` | `7 * 2 = 14` |
| Division | `/` | `20 / 4 = 5.0` |
| Power | `**` | `2 ** 3 = 8` |

Division always returns a **float**.

Decimals are handled naturally: `28.5`, `3.1416`, etc.

---

### üî∂ Task 8.1  
Compute the following:

1. `12 + 8`  
2. `20 - 7`  
3. `5 * 6`  
4. `40 / 3`  
5. `2.5 + 3.7`  
6. `10.0 / 3` (note the decimal!)

In [ ]:
# TODO: compute the expressions below

# 1. Addition
12 + 8

# 2. Subtraction
20 - 7

# 3. Multiplication
5 * 6

# 4. Division
40 / 3

# 5. Decimal addition
2.5 + 3.7

# 6. Decimal division
10.0 / 3

3.3333333333333335

## 8.2 Mean, Median, and Mode

In Earth & Atmospheric science, we often summarize data using:

### Mean (average)
\[
\text{mean} = \frac{\text{sum of values}}{\text{number of values}}
\]

### Median  
Middle value when the data is sorted.

### Mode  
The value that appears **most frequently**.

Python has a built-in library for this:

```python
import statistics as stats

stats.mean(data)
stats.median(data)
stats.mode(data)
```

---

### Example dataset (Sea Surface Temperature)
We will use a small SST dataset:

```python
sst = [28.1, 28.3, 28.3, 27.9, 28.5, 28.7, 28.3]
```

---

### üî∂ Task 8.2

1. Create the SST list above  
2. Compute:
   - mean SST  
   - median SST  
   - mode SST  
3. Print all results clearly

In [1]:
import statistics as stats

# TODO: create list and compute statistics

sst = [28.1, 28.3, 28.3, 27.9, 28.5, 28.7, 28.3]

mean_sst = stats.mean(sst)
median_sst = stats.median(sst)
mode_sst = stats.mode(sst)

print("Mean SST:", mean_sst)
print("Median SST:", median_sst)
print("Mode SST:", mode_sst)

Mean SST: 28.3
Median SST: 28.3
Mode SST: 28.3

## 8.3 Correlation (Very Simple Introduction)

Correlation tells us how strongly two variables move together.

- Values range from **-1 to +1**
- +1 ‚Üí perfect positive relationship  
- -1 ‚Üí perfect negative relationship  
- 0 ‚Üí no linear relationship  

In Python, the easiest way to compute correlation between two lists is:

```python
import numpy as np
np.corrcoef(list1, list2)[0, 1]
```

---

### Example

Suppose we have:

- `temp` = daily SST  
- `chl` = daily chlorophyll concentration  

```python
temp = [28.1, 28.3, 28.4, 28.6, 28.7]
chl  = [1.8, 1.7, 1.6, 1.5, 1.4]
```

As SST increases, chlorophyll decreases ‚Üí we expect a **negative correlation**.

---

### üî∂ Task 8.3

1. Create the `temp` and `chl` lists  
2. Convert them to NumPy arrays  
3. Compute correlation  
4. Interpret the value (positive/negative? weak/strong?)

In [2]:
import numpy as np

# TODO: compute correlation between temp and chl

temp = [28.1, 28.3, 28.4, 28.6, 28.7]
chl  = [1.8, 1.7, 1.6, 1.5, 1.4]

temp_arr = np.array(temp)
chl_arr = np.array(chl)

corr = np.corrcoef(temp_arr, chl_arr)[0, 1]

print("Correlation:", corr)

Correlation: -0.9933992677987826

## 9. Reflection ‚Äì What did you learn?

Answer these questions in your own words:

1. What is the difference between a **code cell** and a **text (Markdown) cell** in Colab?
2. Why is it useful to know the **type** of a variable?
3. Describe one error you saw today and how you fixed it.
4. What mathematical operations did you find easiest?
5. Which statistical measure (mean/median/mode) makes most intuitive sense to you?
6. The correlation value you computed‚Äîwhat does it **mean** physically?
7. Is there anything that still feels confusing about Python basics?

Write 4‚Äì8 sentences below. This is important for building your own understanding.

- code cell gives command to the cell on what to compute and text(marddown) gives information to the user on what topic or on what bases it is computing giving info to the user.
- so that the variables becomes identifiable to on what bases it can be used and what it represent.
- had to convert str(b) into and integer by gonverting it into int(b).
- addition
- mode beacuase it finds you the most frequent no. repeated without counting it manually.
-  it helps in undertsanf=ding their interdepndent relationships with each other.
- not yet